<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="static/style.css" rel="stylesheet" type="text/css">
    <title>名前募集中</title>
</head>
<body>
    <h2>Scratchのプロジェクトファイル(.sb3)をアップロードしてください</h2>
    {% for err in errs %}
        <p class="err">{{ err }}</p>
    {% endfor %}
    <form method="post" action="/send" enctype="multipart/form-data">
        <input type="file" name="uploaded_file" />
        <input type="submit" value="アップロード">
    </form>
    <h2>使用方法</h2>
    <ul>
        <li>Scratch3.0で中身が表示されないプロジェクトのオフラインデータ(.sb3)をダウンロードする。</li>
        <li>上の『ファイルを選択』を押してダウンロードしたsb3ファイルを選択し『アップロード』ボタンを押してください。</li>
        <li>するとすぐにダウンロード画面が出てくるのでそのままダウンロードし、改めてScratchにアップロードすると中身が表示されています。</li>
    </ul>
    <h2>その他</h2>
    <p>毎週月曜深夜時間帯（AM1:00~AM5:00）はメンテナンスのため一時サーバーを停止することがございます。あらかじめご了承ください。</p>
    <p>不具合・ご意見等ありましたら下記メールアドレスへご連絡ください。</p>
    <address><a href="mailto:ryota-develop@outlook.com">ryota-develop@outlook.com</a></address>
</body>
</html>